.DS_Store
.tools/
assets/*.DNG
assets/*.heic
assets/24200*
assets/85200*
assets/Colette Logo 1 (1).png
assets/Colette Logo 2.png
assets/IMG_*
assets/IMG_7070.jpg
assets/IMG_7814 2.heic
assets/brand work examples/
assets/client logos.png
assets/cococolorful_*
assets/colette peri logo full.png
assets/colette-logo-full.png
assets/homepage video.mov
